@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
